<div class="pageDetail" *ngIf="movie; else loader">
    <div class="movieDetail backgroundSW">
        <p class="title">{{movie.title}}</p>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <p mat-line>Release date : {{movie.release_date}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <p mat-line>Episode : {{movie.episode_id}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <p mat-line>Director : {{movie.director}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <p mat-line>Producer : {{movie.producer}}</p>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-accordion>
            <mat-expansion-panel (opened)=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Opening Crawl
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section class="star-wars">

                    <div class="crawl">

                        <div>
                            <p>Episode {{movie.episode_id}} </p>
                            <h1>{{movie.title}}</h1>
                        </div>

                        <p class="lastElement">{{movie.opening_crawl}}</p>

                    </div>

                </section>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Characters
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button (click)="goToCharacterDetail(charact)" mat-button color="warn" *ngFor="let charact of characters">{{charact.name}}</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<ng-template #loader>
    <div class="loader">
        <mat-progress-spinner [mode]="'indeterminate'" [color]="'warn'"></mat-progress-spinner>
    </div>
</ng-template>