<div class="moviesPages" *ngIf="movies; else loader">
    <div class="movies">
        <div *ngFor="let movie of movies | sort:'release_date'; index as i" class="movie">
            <p class="title">{{movie.title}} - {{movie.release_date | date: 'y'}}</p>
            <hr>
            <p class="openingMovie">{{movie.opening_crawl | truncate: 400: true}}</p>
            <div class="movieDetailBtn">
                <button mat-fab color="warn" (click)="goToMovieDetail(movie, i+1)"> Détails</button>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <div class="loader">
        <mat-progress-spinner [mode]="'indeterminate'" [color]="'warn'"></mat-progress-spinner>
    </div>
</ng-template>